{% extends "vaccination_records/layout.html" %}

{% load static %}
{% block body %}
  <h5>{{ request.user.username }}</h5>
  <button class="btn btn-sm btn-outline-primary" id="records">Vaccination records</button>
  <button class="btn btn-sm btn-outline-primary" id="create">Create new record</button>
  <button class="btn btn-sm btn-outline-primary" id="about">About</button>
  <a class="btn btn-sm btn-outline-primary"
     href="{% url 'vaccination_records:logout' %}">Log Out</a>
  <hr />
  <main role="main">
    <section>
      <div id="record-view"></div>
    </section>
    <section>
      <div id="records-view"></div>
    </section>
    <section>
      <div id="about-view"></div>
    </section>
    <section>
      <div id="create-view">
        <div class="new-record__container">
          <h3 class="new-record__title">Personal Information</h3>
          <form id="recordsForm" class="new-record__form">
            <div class="new-record__wrapper">
              <div class="new-record__firstname">
                <div>
                  <label class="new-record__firstname-label" for="firstName">
                    First name<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <input class="new-record__firstname-input"
                       type="text"
                       id="firstName"
                       placeholder=""
                       value=""
                       required="" />
              </div>
              <div class="new-record__lastname">
                <div>
                  <label class="new-record__lastname-label" for="lastName">
                    Last name<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <input class="new-record__lastname-input"
                       type="text"
                       id="lastName"
                       placeholder=""
                       value=""
                       required="" />
              </div>
              <div class="new-record__address">
                <div>
                  <label class="new-record__address-label" for="address">
                    Address<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <input class="new-record__address-input"
                       type="text"
                       id="address"
                       placeholder=""
                       required="" />
              </div>
              <div class="new-record__zipcode">
                <div>
                  <label class="new-record__zipcode-label" for="zipCode">
                    Zip Code<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <input class="new-record__zipcode-input"
                       type="text"
                       id="zipCode"
                       placeholder=""
                       required="" />
              </div>
              <div class="new-record__date">
                <div>
                  <label class="new-record__date-label" for="date">
                    Date<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <div class="new-record__date-wrapper input-group date" id="datepicker">
                  <input class="new-record__date-input" type="text" id="birthdate" />
                  <span class="new-record__date-icon-wrapper input-group-append">
                    <span class="input-group-text bg-white">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
              <div class="new-record__contact">
                <div>
                  <label class="new-record__contact-label" for="contactNumber">
                    Contact Number<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <input class="new-record__contact-input"
                       type="text"
                       id="contactNumber"
                       placeholder=""
                       required="" />
              </div>
              <div class="new-record__gender">
                <div>
                  <label class="new-record__gender-label" for="gdr">
                    Gender<span class="star">&nbsp;*</span>
                  </label>
                </div>
                <div id="gdr" style="display: flex; gap: 1em; ">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           name="gender"
                           id="inlineRadio1"
                           value="female"
                           checked="checked" />
                    <label class="form-check-label" for="inlineRadio1">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           name="gender"
                           id="inlineRadio2"
                           value="male" />
                    <label class="form-check-label" for="inlineRadio2">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           name="gender"
                           id="other"
                           value="other" />
                    <label class="form-check-label" for="inlineRadio2">Other</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="new-record__wrapper2">
              <h3 class="new-record__title">Vaccine Information</h3>

              <!-- <p class="new-record__headers">Dosage Sequence</p> -->
              <!-- <p class="new-record__headers">Vaccine Brand</p> -->
              <!-- <p class="new-record__headers">Name of vaccinator</p> -->
              <!-- <p class="new-record__headers">Date</p> -->

              <label class="new-record__dosage-sequence-label" for="dosageSequence1">Dosage Sequence</label>
              <input type="text"
                     class="new-record__dosage-sequence-input"
                     id="dosageSequence1"
                     value="First Dose"
                     required="" />

              <label class="new-record__vaccine-brand-label" for="vaccineBrand1">Vaccine Brand</label>
              <input type="text"
                     class="new-record__vaccine-brand-input"
                     id="vaccineBrand1"
                     placeholder=""
                     required="" />

              <label class="new-record__vaccinator-label" for="vaccinator1">Vaccinator</label>
              <input type="text"
                     class="new-record__vaccinator-input"
                     id="vaccinator1"
                     placeholder=""
                     required="" />

              <label class="new-record__date-label" for="dateAdministered1">date administered</label>
              <div class="new-record__date">
                <div class="new-record__date-wrapper input-group date" id="datepicker1">
                  <input class="new-record__date-input"
                         type="text"
                         id="dateAdministered1"
                         required="" />
                  <span class="new-record__date-icon-wrapper input-group-append">
                    <span class="input-group-text bg-white">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>

            </div>
            <input type="submit" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
  <script src="{% static 'vaccination_records/index.js' %}"></script>
  <script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
  });
  $(function () {
    $('#datepicker1').datepicker({format: 'yyyy-mm-dd'});
  });
  $(function () {
    $('#datepicker2').datepicker({format: 'yyyy-mm-dd'});
  });
  $(function () {
    $('#datepicker3').datepicker({format: 'yyyy-mm-dd'});
  });
  $(function () {
    $('#datepicker4').datepicker({format: 'yyyy-mm-dd'});
  });
  </script>
{% endblock %}
